# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Above ignores all files without extension

# Unignore Makefile
!Makefile

# Ignore Scala class files
*.class

# Ignore Python cache
__pycache__/
*.pyc
.gitignore
